.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
psd/__MACOSX/._barbershop
psd/__MACOSX/barbershop/._fonts
psd/__MACOSX/barbershop/._previews
psd/__MACOSX/barbershop/fonts/._ptsans.zip
psd/__MACOSX/barbershop/fonts/._web
psd/__MACOSX/barbershop/fonts/web/._ptsansnarrow.woff
psd/__MACOSX/barbershop/fonts/web/._ptsansnarrow.woff2
psd/__MACOSX/barbershop/fonts/web/._ptsansnarrowbold.woff
psd/__MACOSX/barbershop/fonts/web/._ptsansnarrowbold.woff2
psd/__MACOSX/barbershop/previews/._barbershop-index.jpg
psd/__MACOSX/barbershop/previews/._barbershop-item.jpg
psd/__MACOSX/barbershop/previews/._barbershop-price.jpg
psd/__MACOSX/barbershop/previews/._barbershop-shop.jpg
psd/__MACOSX/barbershop/previews/._styleguide.jpg
psd/barbershop/fonts/ptsans.zip
psd/barbershop/fonts/web/ptsansnarrow.woff
psd/barbershop/fonts/web/ptsansnarrow.woff2
psd/barbershop/fonts/web/ptsansnarrowbold.woff
psd/barbershop/fonts/web/ptsansnarrowbold.woff2
psd/barbershop/previews/barbershop-index.jpg
psd/barbershop/previews/barbershop-item.jpg
psd/barbershop/previews/barbershop-price.jpg
psd/barbershop/previews/barbershop-shop.jpg
psd/barbershop/previews/styleguide.jpg
